@import url (imported font family)
* {
    padding:10;
    margin:10;
}
.first {
    color:blue;
    font-size: large;
    font-family: Times New Roman;
    width:500px;
    border:1px solid gray;
    padding:10px 10px 10px 10px;
    /* top right bottom left */
    margin:20px;
    background: black;
}

.second {
    color:black;
    background:peru;
}

#third {
    color:violet;
    background:black;
}

@media screen and (min-width:400px) and (max-width:700px) {
    .first{
        background-color: red;
        color: white;
    }
}

